RAG_pipeline___Chatbot.json
{
  "name": "RAG pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1F4UsQ0ffHLIfTzYbDHxGiGzG6BCXrXja",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1F4UsQ0ffHLIfTzYbDHxGiGzG6BCXrXja"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -60
      ],
      "id": "5dab69d1-7372-45df-b294-5f3d117058eb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e7Dq0sDi5r4uu3BH",
          "name": "rahulrai93107@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -20,
        -60
      ],
      "id": "233a64fe-41ae-4ccf-8dc4-d689aeb79382",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "e7Dq0sDi5r4uu3BH",
          "name": "rahulrai93107@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo2",
          "mode": "list",
          "cachedResultName": "demo2"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        200,
        -60
      ],
      "id": "c52254b2-b7ee-4dcc-a9dc-f5e19bfb215a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "1Abjd1yMEgyBzRnG",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        140
      ],
      "id": "195b2869-9f20-49bd-8299-43273a74532c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "UtedMrpvb0koUUA1",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        340,
        160
      ],
      "id": "be81f8c5-dd4e-4f7a-935e-567c77621013",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        440,
        340
      ],
      "id": "cca6e45f-9f7e-4e89-be7e-e74b0a79c5d1",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "your job is to inform users about their queries in Byte Busters_Grievance-to-Action Tracker App"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        -40
      ],
      "id": "d89c2cda-7800-4410-9821-e0a520a055db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        740,
        -40
      ],
      "id": "7969062f-8c3d-4106-a6d8-25502355d124",
      "name": "When chat message received",
      "webhookId": "db739d46-76af-4589-99a2-f8c4d0a5c57d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        180
      ],
      "id": "7f7fb124-95be-4ce2-a4b9-da4fc6274104",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "UtedMrpvb0koUUA1",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access the policy and FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo2",
          "mode": "list",
          "cachedResultName": "demo2"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1140,
        180
      ],
      "id": "8ce1002b-0522-4d01-ac0c-621200dc545e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "1Abjd1yMEgyBzRnG",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1180,
        360
      ],
      "id": "35fea79b-76ef-44d1-8fbd-04777e950f78",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "UtedMrpvb0koUUA1",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "Download file": [
      {
        "json": {
          "parents": [
            "1F4UsQ0ffHLIfTzYbDHxGiGzG6BCXrXja"
          ],
          "lastModifyingUser": {
            "displayName": "Rahul Rai",
            "kind": "drive#user",
            "me": true,
            "permissionId": "00023392938541758343",
            "emailAddress": "rahulrai93107@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocK8U0Lp0aQz77Z6ZKorPL6uB9PoMCnQLmrMNXJ-1Ef0Xutmfw=s64"
          },
          "owners": [
            {
              "displayName": "Rahul Rai",
              "kind": "drive#user",
              "me": true,
              "permissionId": "00023392938541758343",
              "emailAddress": "rahulrai93107@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocK8U0Lp0aQz77Z6ZKorPL6uB9PoMCnQLmrMNXJ-1Ef0Xutmfw=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "00023392938541758343",
              "type": "user",
              "emailAddress": "rahulrai93107@gmail.com",
              "role": "owner",
              "displayName": "Rahul Rai",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocK8U0Lp0aQz77Z6ZKorPL6uB9PoMCnQLmrMNXJ-1Ef0Xutmfw=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "00023392938541758343"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1zE0lMzV_PL9mjoZa1jDn8C-tdIanj_DI",
          "name": "Byte Busters_Grievance-to-Action Tracker App.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "6",
          "webContentLink": "https://drive.google.com/uc?id=1zE0lMzV_PL9mjoZa1jDn8C-tdIanj_DI&export=download",
          "webViewLink": "https://drive.google.com/file/d/1zE0lMzV_PL9mjoZa1jDn8C-tdIanj_DI/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBMStDIWLz_BzQ2djeqyKeoJnkwLwRfI6tNnSqjoXZ5ioKf83_YYOy1jxp17f1uLThkwlWilS8qtR1PfaKB9fjNz_wIJCIQeplppMXaDABAPtg=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-07-02T23:50:17.715Z",
          "createdTime": "2025-04-18T18:08:21.415Z",
          "modifiedTime": "2025-07-02T23:50:32.373Z",
          "modifiedByMeTime": "2025-07-02T23:50:32.373Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "Byte Busters_Grievance-to-Action Tracker App.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "53f581d2638e9173fada070b91f4cbd4",
          "sha1Checksum": "8468615eee43f2b32a7942e9c5aaa039dc1bae9a",
          "sha256Checksum": "8332ed5531555d51b4077794d5b48159c399ee2ce3a2a0f11b290c7996222940",
          "size": "275670",
          "quotaBytesUsed": "275670",
          "headRevisionId": "0ByZKqdF1jXmPZWYwNnprVWZVdHZJUG9OUzEvSXN6dEFtNkxRPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "53044003-2211-4f4b-b848-aa8b98393ea8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b3072317f855f94e3097802aaacbbd376ea3eb5f5de8da9868e8316f79ca642"
  },
  "id": "02VTG3PCl8xZbzAN",
  "tags": []
}